table, th, td {
  border: 1px solid;
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type='radio'] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px; 
}

/* TODO: Add your primary and secondary styling below! */
.primary-button {
  background-color: #c5050c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}
.primary-button:hover {
  background-color: #a40308;
}

.secondary-button {
  background-color: #fff;
  color: #c5050c;
  padding: 10px 20px;
  border: 2px solid #c5050c;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s, color 0.2s;
}
.secondary-button:hover {
  background-color: #f5f5f5;
  color: #a40308;
}